/* Basic idea courtesy of http://www.scp-wiki.net/printer--friendly//forum/t-1251240 */

.ANLP_tip { font-weight: bold; float: right; color: blue; margin-top: 0}
.ANLP_tip:hover {
     text-decoration: none;
    border-bottom: none;
}
.ANLP_tip span { display: none; float: none}
.ANLP_tip:hover span {
    position: absolute;
    z-index: 3; /* Not clear why this is needed */
    right: 0;
    top: -2em;
    width: auto;
    max-width: 30%;
    display: inline;
    margin: auto;
    height: auto;
    background: #FFF;
    border: 2px solid #34B;
    color: #000;
    padding: .5em;
    font-weight: normal;
}
.ANLP_tip.wide:hover span {  max-width: 50% }
.ANLP_tip:hover span span {
    position: relative;
    margin: auto;
    height: auto;
    width: auto;
    border: none;
    padding: 0;
}
